.home_page {
  width: 100vw;
  height: 100vh;
  background-color: aqua;
  position: absolute;
  top: 0px;
}
.carousel {
  width: 50vw;
}
.teste1 {
  width: 100px;
  height: 100vh;
}

.cont_0 {
  position: absolute;
  top: 100vh;
  background-color: rgb(0, 0, 0);
}
.cont_1 {
  position: absolute;
  top: 200vh;
  background-color: rgb(231, 2, 2);
}
.cont_2 {
  position: absolute;
  top: 300vh;
  background-color: rgb(255, 255, 255);
}
.cont_3 {
  position: absolute;
  top: 400vh;
  background-color: rgb(131, 64, 64);
}